In [35]:
import pandas as pd
import numpy as np
from sklearn.metrics import log_loss, classification_report
from sklearn.preprocessing import MinMaxScaler, LabelEncoder
from sklearn.model_selection import train_test_split

In [23]:
kyph = pd.read_csv('../Datasets/cases/Kyphosis/Kyphosis.csv')
le = LabelEncoder()
kyph.head()

  Kyphosis  Age  Number  Start
0   absent   71       3      5
1   absent  158       3     14
2  present  128       4      5
3   absent    2       5      1
4   absent    1       4     15

In [24]:
kyph['Kyphosis'] = le.fit_transform(kyph['Kyphosis'])
y = kyph['Kyphosis']
X = kyph.drop('Kyphosis', axis=1)

In [25]:
X_train, X_test,y_train,y_test = train_test_split(X,y,test_size=0.3, random_state=25)

In [ ]:
mm = MinMaxScaler()
X_trn_scl = mm.fit_transform(X_train)
X_tst_scl = mm.fit_transform(X_test)

In [30]:
eta = 0.4
b,w1,w2,w3 = 0.1,0.1,0.1,0.1
epoch = 10000
# x1 = X_trn_scl['Age']
# x2 =  X_trn_scl['Number']
# x3 = X_trn_scl['Start']

# Use integer indexing since X_trn_scl is now a NumPy array
x1 = X_trn_scl[:, 0]  # First column (Age)
x2 = X_trn_scl[:, 1]  # Second column (Number)  
x3 = X_trn_scl[:, 2]  # Third column (Start)


scores = []
def sigmoid(z):
    return 1/(1+np.exp(-z))


for i in range(epoch):
    y_cap = sigmoid(w1*x1 + w2*x2 + w3*x3 + b)
    dw1 = -np.mean((y_train-y_cap)*x1)
    dw2 = -np.mean((y_train-y_cap)*x2)
    dw3 = -np.mean((y_train-y_cap)*x3)
    db = -np.mean(y_train - y_cap)

    L = log_loss(y_train,y_cap)
    scores.append([w1,w2,w3, b,L])
    w1 = w1 - eta*dw1
    w2 = w2 - eta*dw2
    w3 = w3 - eta*dw3
    b = b - eta*db

scores =  pd.DataFrame(scores, columns=['W1','W2','W3','B','Log Loss'])
scores.sort_values('Log Loss')

            W1        W2        W3         B  Log Loss
9990  1.657180  2.829148 -2.762861 -1.378563  0.415878
9995  1.657180  2.829148 -2.762861 -1.378563  0.415878
9986  1.657180  2.829148 -2.762861 -1.378563  0.415878
9989  1.657180  2.829148 -2.762861 -1.378563  0.415878
9993  1.657180  2.829148 -2.762861 -1.378563  0.415878
...        ...       ...       ...       ...       ...
4    -0.062417  0.018527 -0.250564 -0.323147  0.569127
3    -0.034898  0.030905 -0.182551 -0.245619  0.595674
2     0.000134  0.047874 -0.103245 -0.151841  0.633705
1     0.044454  0.070511 -0.010020 -0.038025  0.688852
0     0.100000  0.100000  0.100000  0.100000  0.769129

[10000 rows x 5 columns]

In [33]:
x1 = X_tst_scl[:, 0]  # First column (Age)
x2 = X_tst_scl[:, 1]  # Second column (Number)  
x3 = X_tst_scl[:, 2]
y_pred_prob = sigmoid(w1*x1 + w2*x2 + w3*x3 + b)
print("Log loss on test: ", log_loss(y_test,y_pred_prob))

Log loss on test:  0.3063008252717598

In [38]:
y_pred = np.where(y_pred_prob>0.5,1,0)
print("classification report on test: ", classification_report(y_test,y_pred))

classification report on test:                precision    recall  f1-score   support

           0       0.91      1.00      0.95        20
           1       1.00      0.60      0.75         5

    accuracy                           0.92        25
   macro avg       0.95      0.80      0.85        25
weighted avg       0.93      0.92      0.91        25